* {
  text-align: center;
  background-size: cover;
}

div {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 5%;
}

button {
  background-color: blue;
  opacity: 0.7;
  color: white;
  padding: 10px;
  font-size: 2em;
  border: none;
  border-radius: 5%;
  margin: 5px;
}

button:hover {
  opacity: 1;
}

input {
  padding: 5px;
  font-size: 2em;
}

.submit {
  background-color: red;
}
